html {
  background-color: #efefef;
}

.p-20 {
  padding: 20px;
}

.input_title .el-input__inner {
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.el-form-item.is-required .el-form-item__label:before {
  display: none;
}

.el-select,
.el-date-editor--daterange.el-input__inner {
  width: 100%;
}

.el-tooltip__popper {
  margin-left: 40px;
  margin-right: 20px;
}

.el-textarea__inner[type="textarea"] {
  min-height: 4em;
}

.el-table__body-wrapper {
  overflow: hidden;
}

.el-table th,
.el-table td {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.el-table th .cell,
.el-table td .cell,
.el-table th:first-child .cell,
.el-table td:first-child .cell {
  padding-left: 0;
  padding-right: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header-form {
  display: flex;
  text-align: right;
  margin-bottom: 20px;
}

.header-title {
  display: flex;
  flex: auto;
  margin: 0;
  line-height: 40px;
}
